<appSettings>
 <add key="SiteEnabled" value="1" />
 <add key="CookieDuration" value="30" />
 <add key="EncryptDecryptSeed" value="0a1z2b3y4c5x6d7w8e9v0f1u" />
 <add key="appId" value="480983491920447" />
 <add key="appSecret" value="95e1e93af3f9805603d059627519d0a6" />
 <add key="appName" value="My Sports Connect" />
 <add key="appUrl" value="http://www.MySportsConnect.net" />
 <add key="YAF.BoardID" value="1" />
 <add key="YAF.EnableURLRewriting" value="false" />
 <add key="YAF.UrlRewritingFormat" value="standard" />
 <add key="YAF.URLRewritingMode" value="Translit" />
 <add key="YAF.UseSMTPSSL" value="false" />
 <add key="YAF.DatabaseObjectQualifier" value="yaf_" />
 <add key="YAF.DatabaseOwner" value="dbo" />
 <add key="YAF.ConnectionStringName" value="yafnet" />
 <add key="YAF.ProviderExceptionXML" value="ProviderExceptions.xml" />
 <add key="YAF.FileRoot" value="~/YForum" />
 <add key="YAF.AppRoot" value="~/YForum/" />
 <add key="YAF.ProviderKeyType" value="System.Guid" />
 <add key="YAF.MobileUserAgents" value="iphone,ipad,midp,windows ce,windows phone,android,blackberry,opera mini,mobile,palm,portable,webos,htc,armv,lg/u,elaine,nokia,playstation,symbian,sonyericsson,mmp,hd_mini" />
 <add key="YAF.RadEditorSkin" value="Black" />
 <add key="YAF.UseRadEditorToolsFile" value="true" />
 <add key="YAF.RadEditorToolsFile" value="editors/radEditor/toolsFile.xml" />
 <add key="YAF.ConfigPassword" value="Kian123!" />
 <add key="YAF.BaseUrlMask" value="http://localhost:1377/" />
</appSettings>
