<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="rewriter" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" requirePermission="false"/>
	</configSections>
	<appSettings configSource="app.config"/>
	<rewriter configSource="URLRewriter.config"/>
	<connectionStrings>
  <remove name="LocalSqlServer" />
    <!--  GLOBALIZATION
    <add name="MyUSCConnectionString" connectionString="Server=184.168.194.77;Database=MyUSC;User ID=myscadmin;Password=Mysc2013!" />
    <add name="MyUSCConnectionString" providerName="System.Data.SqlClient" connectionString="Server=184.168.194.77;Database=MyUSC;User ID=Tom;Password=B@seb@11" />
    -->
    <add name="MyUSCConnectionString" providerName="System.Data.SqlClient" connectionString="Server=TBSC1;Database=MyUSC;User ID=myscadmin;Password=Mysc2013!" />
    <add name="ApplicationServices" connectionString="Server=184.168.194.77;Database=MyUSC;Integrated Security=true" providerName="System.Data.SqlClient" />
  <add name="yafnet" connectionString="Data Source=(local);Initial Catalog=MSCYafForum;User ID=myscadmin;Password=Mysc2013!" providerName="System.Data.SqlClient" />
 </connectionStrings>
  <system.web>
		<httpRuntime requestValidationMode="2.0"/>
		<xhtmlConformance mode="Strict"/>
		<customErrors defaultRedirect="~/YForum/Error.aspx" mode="Off"/>
		<!--  GLOBALIZATION
    This section sets the globalization settings of the application. 
    Utf-8 is not supported on Netscape 4.x 
    If you need netscape compatiblity leave iso-8859-1.
    UTF-8 is recommended for complex languages
    -->
		<globalization culture="en-US" uiCulture="en" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />
		<!--<globalization culture="en-US" uiCulture="en"  fileEncoding="iso-8859-1" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1"/>-->
		<authorization>
      <allow users="*"/>
    </authorization>
    <authentication mode="Forms">
      <forms loginUrl="LoginMSC.aspx" timeout="2880" defaultUrl="~/"/>
    </authentication>
		<membership defaultProvider="YafMembershipProvider" hashAlgorithmType="SHA1">
			<providers>
				<clear/>
				<add connectionStringName="yafnet" applicationName="YetAnotherForum" name="YafMembershipProvider" requiresUniqueEmail="true" useSalt="true" type="YAF.Providers.Membership.YafMembershipProvider"/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile enabled="true" defaultProvider="YafProfileProvider" inherits="YAF.Utils.YafUserProfile">
			<providers>
				<clear/>
				<add connectionStringName="yafnet" applicationName="YetAnotherForum" name="YafProfileProvider" type="YAF.Providers.Profile.YafProfileProvider"/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
    <!--
    <roleManager enabled="true" defaultProvider="YafRoleProvider">
    <providers>
				<clear/>
				//<add connectionStringName="yafnet" applicationName="YetAnotherForum" name="YafRoleProvider" type="YAF.Providers.Roles.YafRoleProvider"/>
				<add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
				<add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
			</providers>
		</roleManager>
    -->
    <sessionState mode="InProc" timeout="50" cookieless="false"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableEventValidation="false" validateRequest="false">
			<controls>
				<!-- Default: use non-dynamic (compiled classes) in YAF -->
				<add tagPrefix="YAF" namespace="YAF.Controls" assembly="YAF.Controls"/>
				<add tagPrefix="YAF" namespace="YAF.Controls.Statistics" assembly="YAF.Controls"/>
				<add tagPrefix="YAF" namespace="YAF.Classes"/>
				<add tagPrefix="YAF" namespace="YAF"/>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
				<add tagPrefix="CE" namespace="CuteEditor" assembly="CuteEditor"/>
				<add tagPrefix="CE" namespace="CuteEditor.ImageEditor" assembly="CuteEditor.ImageEditor"/>
				<add tagPrefix="MSC" namespace="MyUSC.Classes" assembly="MyUSC"/>
				<add tagPrefix="MSC" namespace="MyUSC.Classes.MyOrg" assembly="MyUSC"/>
			</controls>
			<namespaces>
				<add namespace="CuteEditor"/>
				<add namespace="CuteEditor.ImageEditor"/>
				<add namespace="YAF.Core"/>
				<add namespace="YAF.Controls"/>
				<add namespace="YAF.Utils"/>
				<add namespace="YAF.Types.Interfaces"/>
				<add namespace="YAF.Types"/>
				<add namespace="MyUSC.Classes"/>
				<add namespace="MyUSC.Classes.MyOrg"/>
			</namespaces>
		</pages>
		<!-- Set debug to "true" to test out the system in development -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
				<add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<httpHandlers>
			<add verb="GET" path="Resource.ashx" type="YAF.YafResourceHandler, YAF" />
		</httpHandlers>
		<httpModules>
      <!--
			<add name="YafTaskModule" type="YAF.Core.YafTaskModule, YAF.Core"/>
      -->
			<add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter"/>
		</httpModules>
	</system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.net>
		<mailSettings>
			<smtp configSource="mail.config"/>
		</mailSettings>
	</system.net>
  <system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
      <!--
			<remove name="YafTaskModule"/>
			<add name="YafTaskModule" type="YAF.Core.YafTaskModule, YAF.Core" preCondition="managedHandler"/>
      -->
			<remove name="UrlRewriter"/>
			<add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" preCondition="managedHandler"/>
		</modules>
		<!--
    <handlers>
			<add name="YafHandler" preCondition="integratedMode" verb="GET" path="Resource.ashx" type="YAF.YafResourceHandler, YAF" />
		</handlers>
    -->
  </system.webServer>
</configuration>